LEVEL_LOG                   = ["DEBUG", "INFO", "WARNING", "ERROR"]
SECRET_KEY                  = "XXXXXXX"
CONFIG_MODE                 = "XXXXXXX" # Configuration mode => development, testing, staging, production

# Database URL
DEVELOPMENT_DATABASE_URL    = "sqlite://database.db"
TESTING_DATABASE_URL        = "sqlite:///:memory:"
PRODUCTION_DATABASE_URL     = "postgres://postgres:XXXXXX"