Flask
python-dotenv
rich>=11.2.0
requests
gunicorn  # Neccesary for app.yaml
pydantic # Neccesary for config.py
pydantic-settings
flask-sqlalchemy==2.5.1
psycopg2-binary
flask-login
flask_swagger_ui
flask_validator # Validation for string, countries, etc.
pyshorteners # URL shortener