{% extends 'base.html' %}

{% block title %}Primazon: Create Product{% endblock %}

{% block content %}
<div class="container" style="margin-top:20px;">

    <!-- <form method="POST" action="/plants"> -->
    <form method="POST" action="/plants">
      <input type="hidden" name="_method" value="{{ form_method }}" />
      <input type="hidden" name="id" value="{{plant.id}}">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Plant name" maxlength="100" value="{{plant.name}}">
      </div>
      <div class="form-group">
        <label for="name_tech">Tech Name</label>
        <input type="text" class="form-control" id="name_tech" name="name_tech" placeholder="Tech plant name" maxlength="100" value="{{plant.name_tech}}">
      </div>
      <div class="form-group">
        <label for="comment">Comments</label>
        <input type="text" class="form-control" id="comment" name="comment" placeholder="Comments" maxlength="200" value="{{plant.comment}}">
      </div>

      <div class="row">
        <div class="form-group col-sm">
          <label for="watering_summer">Watering Summer</label>
          <select class="form-control" name="watering_summer" id="watering_summer">
            <option value="1" title="1 times a month" selected>1 wpm</option>
            <option value="2" title="2 times a month">2 wpm</option>
            <option value="3" title="3 times a month">3 wpm</option>
            <option value="4" title="4 times a month">4 wpm</option>
          </select>
        </div>
        <div class="form-group col-sm">
          <label for="watering_winter">Watering Winter</label>
          <select class="form-control" name="watering_winter" id="watering_winter">
            <option value="1" title="1 times a month">1 wpm</option>
            <option value="2" title="2 times a month" selected>2 wpm</option>
            <option value="3" title="3 times a month">3 wpm</option>
            <option value="4" title="4 times a month">4 wpm</option>
          </select>
        </div>
        <div class="form-group col-sm">
          <label for="direct_sun">Direct Sun</label>
          <select class="form-control" name="direct_sun" id="direct_sun">
            <option value="1" title="No sun">No</option>
            <option value="2" title="Partial sun">Partial</option>
            <option value="3" title="Sun">Yes</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="spray">
        <input type="checkbox" id="spray" name="spray" value="1" checked="true">
        Spray</label>
      </div>

      <div class="form-group">
        <label for="image">URL Photo</label>
        <input type="text" class="form-control" id="image" name="image" placeholder="URL Photo" maxlength="200" value="{{plant.image}}">
      </div>

      <div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
      </div>

    </form>

</div>
{% endblock %}