{% extends 'base.html' %}

{% block title %}Primazon: Create Product{% endblock %}

{% block content %}
<div class="container" style="margin-top:20px;">

    <form method="POST">

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Plant name" maxlength="100">
      </div>
      <div class="form-group">
        <label for="name_tech">Tech Name</label>
        <input type="text" class="form-control" id="name_tech" name="name_tech" placeholder="Tech plant name" maxlength="100">
      </div>
      <div class="form-group">
        <label for="comment">Comments</label>
        <input type="text" class="form-control" id="comment" name="comment" placeholder="Comments" maxlength="200">
      </div>

      <div class="row">
        <div class="form-group">
          <label for="watering_summer">Watering Summer</label>
          <select class="custom-select" name="watering_summer" id="watering_summer">
            <option value="1">1 week per month</option>
            <option value="2">2 week per month</option>
            <option value="3">3 week per month</option>
            <option value="4">4 week per month</option>
          </select>
          <label for="watering_winter">Watering Winter</label>
          <select class="custom-select" name="watering_winter" id="watering_winter">
            <option value="1">1 week per month</option>
            <option value="2">2 week per month</option>
            <option value="3">3 week per month</option>
            <option value="4">4 week per month</option>
          </select>
          <label for="direct_sun">Direct Sun</label>
          <select class="custom-select" name="direct_sun" id="direct_sun">
            <option value="1">No</option>
            <option value="2">Partial</option>
            <option value="3">Yes</option>
          </select>
        </div>
      </div>

      <!-- Example single danger button -->
      <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Action
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Save</button>

    </form>

</div>
{% endblock %}