{% extends "base.html" %}

{% block content %}

<script>
    window.onload = function() {
        activeVisibility('spray', 'spray_icon');
    }
</script>

<div class="container">    

    <table class="table table-sm" style="max-width: 600px;">
        <tbody>
        {% for plant in plants %}
            <tr style="font-size:smaller;">
                <div class="row">
                    <td style="width: 30%; text-align: center;">
                        <img src="{{ plant.image }}" height="70">
                    </td>
                    <td style="width:70%" colspan="2"> 
                        <div style="font-weight: bold;">{{ plant.name }}</div>
                        <div><small style="color: red; font-weight: bold;" id="name_tech"> {{ plant.name_tech }} </small></div>
                        <div>
                            <small>
                                🌞 {{ plant.watering_summer }}/m
                                ❄️ {{ plant.watering_winter }}/m
                                <!-- TODO: Show the icon for spray-->
                                <input type="checkbox" id="spray" name="spray" checked="{{ plant.spray }}" style="visibility:visible"
                                        onclick="activeVisibility('spray', 'spray_icon');">
                                <label id="spray_icon" style="visibility:hidden" onload="activeVisibility('spray', 'spray_icon');">💦</label>
                                🌝🌗❌
                            </small>
                        </div>                        
                    </td>
                </div>
            </tr>
            <tr style="font-size:smaller;">
                <td colspan="2">
                    <div class="row"><p>{{ plant.comment }} </p></div>
                </td>
            </tr>
            <tr>
                <div class="row">
                    <td colspan="2">
                        <a class="btn btn-success btn-sm btn-block" href="{{url_for('urls.page_update_plant', plant_id=plant.id)}}">Edit</a>
                        <a class="btn btn-danger btn-sm btn-block" href="{{url_for('urls.get_update_delete_plants', plant_id=plant.id, ope='DELETE')}}">Delete</a>
                    </td>
                </div>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}